
#container{
    position: relative;
    margin: auto;
    width: 555px;
    height: 787px;
}

#background{
/*    position:absolute;*/
    width:525px;
    height:788px;
    left:100px;
    right: 100px;
    background-color: dimgray;
}

    
#man{
    position:absolute;
    width:555px;
    height:855px;
    background-image: url("/assets/img/body.png");

}

#clothes{
    position:absolute;
    width:555px;
    height:855px;    
}

.dress1{
    
    position:absolute;
    width:555px;
    height:855px;
    background-image: url("/assets/img/dress1.png");
}

.dress2{
    position:absolute;
    width:555px;
    height:855px;
    background-image: url("/assets/img/dress2.png");
}

.dress3{
    
    position:absolute;
    width:555px;
    height:855px;
    background-image: url("/assets/img/dress3.png");
}

#nextdress{
    position:absolute;
    right:50px;
    top:400px;
}

#prevdress{
    position:absolute;
    left:50px;
    top:400px;
}

